<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestSoapWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TestSoapWS.Properties.Settings>
            <setting name="TestSoapWS_SoapWebReference_WebService" serializeAs="String">
                <value>http://134.193.136.38/aspnet_client/Group5/WebSite5/WebService.asmx</value>
            </setting>
        </TestSoapWS.Properties.Settings>
    </applicationSettings>
</configuration>